<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/userprofile.css">
</head>
<body>
      
     
            <div class="sidebar">

                <div class="sidebar-heading">
                    <i class="fas fa-tachometer-alt"></i>
                    <h1>User</h1>
                    <!-- <a href="">User </a> -->
                  </div>
                  
                  
                <div class="sidebar-item">
                    <i class="fas fa-user"></i>
                    <a href="/user-profile">User Profile</a>
                </div>
                <div class="sidebar-item">
                    <i class="fas fa-credit-card"></i>
                    <a href="/address">Address</a>
                </div>
                <div class="sidebar-item">
                    <i class="fas fa-list"></i>
                    <a href="/my-orders">My orders</a>
                </div>
               
                <div class="sidebar-item">
                    <i class="fas fa-shopping-cart"></i>
                    <a href="/cart">Shopping Cart</a>
                </div>
                
                <div class="sidebar-item">
                    <i class="fas fa-wallet"></i>
                    <a href="/wallet">Wallet</a>
                </div>
                <div class="sidebar-item">
                    
                    <i class="fas fa-heart"></i>
                   
                    <a href="/wishlist">Wish list</a>
                </div>
                <div class="sidebar-item">
                    <i class="fas fa-sign-out-alt"></i>
                    <a href="/logout">Log-out</a>
                </div>
            </div>

        
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>