<%- include("../../views/partials/user/header") %>

		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="/">Home</a></span> / <span>About</span></p>
					</div>
				</div>
			</div>
		</div>


		<div class="colorlib-about">
			<div class="container">
				<div class="row row-pb-lg">
					<div class="col-sm-6 mb-3">
						<div class="video colorlib-video" style="background-image: url(images/about.jpg);">
							<a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-play3"></i></a>
							<div class="overlay"></div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="about-wrap">
							<h4>Shoe Mart the leading eCommerce Store around the Globe</h4>
							<p>Shoe Mart is a globally renowned e-commerce store specializing in high-quality footwear for all occasions. From casual shoes and formal wear to athletic sneakers and sandals, Shoe Mart offers a versatile range that caters to men, women, and children. Known for its blend of comfort, style, and durability, the brand ensures every product meets the highest standards of quality and design.</p>
							<p>With a commitment to customer satisfaction, Shoe Mart provides a seamless shopping experience, including competitive pricing, efficient global delivery, and eco-friendly production practices. Whether you’re seeking trendy everyday footwear or performance-driven options, Shoe Mart is your one-stop destination for exceptional style and comfort.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		
	<!-- Main -->
	<script src="/js/main.js"></script>

    <%-include("../../views/partials/user/footer")%>

